.service {
  margin-bottom: 40px;

  &__list {
    @include list-reset;
  }

  &__item {
    margin: 0 0 32px;
    padding: 32px;
    background: #ECEDF2;
    border-radius: 16px;
  }

  &__icon {
    display: block;
    margin-right: auto;
    width: 64px;
    height: 64px;
    margin-bottom: 16px;
  }

  &__caption {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #3E4249;
  }

  &__text {
    margin: 0;
  }
}

@include min-width(lg) {
  .service {
    margin-bottom: 54px;

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      min-height: 350px;
      width: 31.3333%;
      margin-bottom: 34px;
      padding: 32px 32px 32px 64px;
    }

    &__icon {
      margin-bottom: 20px;
    }
  }
}

