.subtitle {
  margin: 0 0 32px;
  text-align: center;

  font-size: 14px;
  line-height: 16px;
  color: rgba(62, 66, 73, 0.7);
}

@include min-width(lg) {
  .subtitle {
    font-size: 18px;
    line-height: 21px;
    color: rgba(62, 66, 73, 0.7);
  }
}
