.system {
  @include list-reset;

  &__item {
    margin-bottom: 32px;
  }

  &__image {
    margin-top: 28px;
    margin-bottom: 16px;
    width: 200px;
    display: block;
    margin-right: auto;
  }

  &__desc {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3E4249;
  }
}

@include min-width(lg) {
  .system {
    display: flex;
    justify-content: space-between;

    &__item {
      width: 190px;
    }

    &__image {
      width: 190px;
      display: block;
      margin: 0;
    }
  }
}
